/*
    Author     : Isaac
*/
.nav-sm {
    display: none;
}

main {
    section {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
}

.nav-md {
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
    background: $first;
    border-bottom: solid 1px $third;
    a {
        width: 100%;
        height: 50px;
        border-bottom: solid 1px $third;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $third;
    }
}

.main-content {
    width: 80%;
    margin: 0px 10px 40px 10px;
    display: grid;
    gap: 20px;
    grid-template-areas:
        "h1 h1 h1"
        "onePlus onePlus onePlus-img"
        "onePlus-p onePlus-p onePlus-img"
        "pixel-img pixel-h3 pixel-h3"
        "pixel-img pixel-p pixel-p"
        "iPhone-h3 iPhone-h3 iPhone-img"
        "iPhone-p iPhone-p iPhone-img"
    ;
    img {
        width: 100%;
        height: auto;
    }
    h3, p {
        margin: 0;
    }
}

#nav-bottom {
    display: none;
}
