header, nav, main, footer {
    max-width: 64rem;
    margin:auto;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@for $i from 1 through 12 {
    $w:(($i/12)-0.02)*100%;
    .Mlarge-#{$i}{flex-basis: $w;}
}
@for $i from 1 through 12 {
    $w:($i/12)*100%;
    .large-#{$i}{flex-basis: $w;}
}
/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
.blogs {
    width: 75rem;
}
.container {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}


/*----------- FOOTER --------------*/

